USE [master]
GO
/****** Object:  Database [yt_analytics]    Script Date: 04-08-2026 22:53:33 ******/
CREATE DATABASE [yt_analytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yt_analytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\yt_analytics.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'yt_analytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\yt_analytics_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yt_analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yt_analytics]
GO
/****** Object:  Table [dbo].[stage_youtube_in]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_youtube_in](
	[video_id] [nvarchar](max) NOT NULL,
	[trending_date] [date] NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[channel_title] [nvarchar](max) NOT NULL,
	[category_id] [tinyint] NOT NULL,
	[publish_time] [nvarchar](max) NOT NULL,
	[tags] [nvarchar](max) NOT NULL,
	[views] [bigint] NOT NULL,
	[likes] [int] NOT NULL,
	[dislikes] [int] NOT NULL,
	[comment_count] [int] NOT NULL,
	[thumbnail_link] [nvarchar](max) NOT NULL,
	[comments_disabled] [bit] NOT NULL,
	[ratings_disabled] [bit] NOT NULL,
	[video_error_or_removed] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_youtube_jp]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_youtube_jp](
	[video_id] [nvarchar](max) NOT NULL,
	[trending_date] [nvarchar](100) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[channel_title] [nvarchar](max) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[publish_time] [nvarchar](max) NOT NULL,
	[tags] [nvarchar](max) NOT NULL,
	[views] [bigint] NOT NULL,
	[likes] [int] NOT NULL,
	[dislikes] [bigint] NOT NULL,
	[comment_count] [bigint] NOT NULL,
	[thumbnail_link] [nvarchar](max) NOT NULL,
	[comments_disabled] [bit] NOT NULL,
	[ratings_disabled] [bit] NOT NULL,
	[video_error_or_removed] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_youtube_kr]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_youtube_kr](
	[video_id] [nvarchar](max) NOT NULL,
	[trending_date] [nvarchar](max) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[channel_title] [nvarchar](max) NOT NULL,
	[category_id] [tinyint] NOT NULL,
	[publish_time] [nvarchar](max) NOT NULL,
	[tags] [nvarchar](max) NOT NULL,
	[views] [bigint] NOT NULL,
	[likes] [bigint] NOT NULL,
	[dislikes] [bigint] NOT NULL,
	[comment_count] [bigint] NOT NULL,
	[thumbnail_link] [nvarchar](max) NOT NULL,
	[comments_disabled] [bit] NOT NULL,
	[ratings_disabled] [bit] NOT NULL,
	[video_error_or_removed] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_cleaned_youtube_master]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[view_cleaned_youtube_master] AS
-- ==========================================================
-- SEGMENT 1: INDIA 
-- ==========================================================
SELECT 
    video_id, title, channel_title, views, likes, dislikes, comment_count,
    'India' AS region, category_id, tags, thumbnail_link, 
    comments_disabled, ratings_disabled, video_error_or_removed,
    TRY_CONVERT(DATE, trending_date) AS trending_date,
    TRY_CONVERT(DATETIME, publish_time) AS publish_time
FROM stage_youtube_in

UNION ALL

-- ==========================================================
-- SEGMENT 2: JAPAN (Pulling directly from its staging table!)
-- ==========================================================
SELECT 
    video_id, title, channel_title, views, likes, dislikes, comment_count,
    'Japan' AS region, category_id, tags, thumbnail_link, 
    comments_disabled, ratings_disabled, video_error_or_removed,
    TRY_CONVERT(DATE, '20' + REPLACE(CAST(trending_date AS VARCHAR(50)), '.', '-')) AS trending_date,
    TRY_CONVERT(DATETIME, publish_time) AS publish_time
FROM stage_youtube_jp

UNION ALL

-- ==========================================================
-- SEGMENT 3: SOUTH KOREA (Pulling directly from its staging table!)
-- ==========================================================
SELECT 
    video_id, title, channel_title, views, likes, dislikes, comment_count,
    'South Korea' AS region, category_id, tags, thumbnail_link, 
    comments_disabled, ratings_disabled, video_error_or_removed,
    TRY_CONVERT(DATE, '20' + REPLACE(CAST(trending_date AS VARCHAR(50)), '.', '-')) AS trending_date,
    TRY_CONVERT(DATETIME, publish_time) AS publish_time
FROM stage_youtube_kr;
GO
/****** Object:  Table [dbo].[cleaned_youtube_asia]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cleaned_youtube_asia](
	[video_id] [varchar](50) NULL,
	[trending_date] [date] NULL,
	[title] [nvarchar](max) NULL,
	[channel_title] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[publish_time] [datetime] NULL,
	[tags] [nvarchar](max) NULL,
	[views] [bigint] NULL,
	[likes] [int] NULL,
	[dislikes] [int] NULL,
	[comment_count] [int] NULL,
	[thumbnail_link] [nvarchar](max) NULL,
	[comments_disabled] [varchar](10) NULL,
	[ratings_disabled] [varchar](10) NULL,
	[video_error_or_removed] [varchar](10) NULL,
	[region] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_engagement_funnel]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_engagement_funnel] AS
SELECT 
    region,
    SUM(views) AS total_views,
    SUM(CAST(likes AS BIGINT)) AS total_likes,
    SUM(CAST(comment_count AS BIGINT)) AS total_comments,
    -- Calculate structural conversion rates for the funnel stages
    ROUND((SUM(CAST(likes AS BIGINT)) * 100.0) / NULLIF(SUM(views), 0), 2) AS view_to_like_percentage,
    ROUND((SUM(CAST(comment_count AS BIGINT)) * 100.0) / NULLIF(SUM(CAST(likes AS BIGINT)), 0), 2) AS like_to_comment_percentage
FROM cleaned_youtube_asia
GROUP BY region;
GO
/****** Object:  Table [dbo].[youtube_category_mapping]    Script Date: 04-08-2026 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[youtube_category_mapping](
	[category_id] [int] NOT NULL,
	[genre_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
